[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/vim-scripts/unimpaired.vim.git
[submodule "bundle/mojo"]
	path = bundle/mojo
	url = git://github.com/yko/mojo.vim.git
[submodule "bundle/pastie"]
	path = bundle/pastie
	url = git://github.com/vim-scripts/pastie.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/perlomni"]
	path = bundle/perlomni
	url = git://github.com/vim-scripts/perlomni.vim.git
[submodule "bundle/autocomplpop"]
	path = bundle/autocomplpop
	url = git://github.com/vim-scripts/AutoComplPop.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = git://github.com/gregsexton/gitv.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/honza/vim-snipmate.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
